@model IEnumerable<ZenithDataLib.Event>

@{
    ViewBag.Title = "Home Page";
}

<h2>Zenith Society</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ActivityId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToDateTime)
            </td>
        </tr>
    }

</table>