@model IEnumerable<ZenithDataLib.Event>


    @{
        ViewBag.Title = "Event Manager";
    }

    <h2>Event Manager</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ActivityId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivityId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
